@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 40px;
  -webkit-user-select: none;
}

main {
  background-color: #f5f5f5;
  height: 600px;
  max-width: 1500px;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.die-face {
  height: 100px;
  width: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.die-num {
  font-size: 2rem;
}

.roll {
  background: #5035ff;
  border: none;
  border-radius: 6px;
  color: white;
  height: 70px;
  width: 140px;
  cursor: pointer;
  font-size: 1.2rem;
}

.roll:focus {
  outline: none;
}

.roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media (min-width: 320px) {
  main {
    background-color: #f5f5f5;
    height: auto;
    max-width: auto;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
  .wrapper {
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    gap: 7px;
  }
}
